:root{
  --clr-main-bg: hsl(47, 88%, 63%);
  --clr-secondary-bg: hsl(0, 0%, 100%);
  
  --fc-light: hsl(0, 0%, 42%);
  --fc-dark: hsl(0, 0%, 7%);

  --fw-regular: 500;
  --fw-bold: 800;

  --fs-small: 0.875rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf")
}

body {
  font-family: Figtree;
  line-height: 1.5;
  background-color: var(--clr-main-bg);
  color: var(--fc-dark);
  display: flex;
  height: 100vh;
}

.card {
  margin: auto;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 24rem;
  height: 32.625rem;
  background-color: var(--clr-secondary-bg);
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem black;
  border: 1px solid rgba(0, 0, 0, 1);
}

.card * {
  padding: 0;
  margin: 0;
}

.card > * + * {
  margin-top: 1.5rem;
}

.card__img {
  border-radius: 10px;
  width: 100%;
}

.card__content > * + * {
  margin-top: 0.75rem;
}

.card__tag {
  font-weight: var(--fw-bold);
  padding: 0.25rem 0.75rem;
  background-color: var(--clr-main-bg);
  border-radius: 0.25rem;
  font-size: var(--fs-small);
}

.card__date {
  font-size: var(--fs-small);
}

.card__title {
  font-size: var(--fs-large);
}

.card__title:hover {
  color: var(--clr-main-bg);
  font-size: var(--fs-bold);
}

.card__desc {
  font-size: var(--fs-medium);
  color: var(--fc-light);
}

.avatar-block {
  display: flex;
  align-items: center;
}

.card__avatar-img {
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.card__avatar-name {
  font-weight: var(--fw-bold);
  font-size: var(--medium);
}

@media (max-width: 600px) {
  :root {
    --fs-small: 0.75rem;
    --fs-medium: 0.875rem;
    --fs-large: 1.25rem;
  }

  .card {
    height: auto;
    width: 20.4375rem;
  }
}
